body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  top: 0;
  padding: 10px;
  text-align: center;
}

nav {
  color: white;
  background: linear-gradient(to bottom, #579ABC, #8AC5E3);
}

footer {
  background: linear-gradient(to bottom, #8AC5E3, #579ABC);
  padding: 10px;
  margin-top: auto; 
}

.bg-image {
  position: absolute;
  top: 20%;
  left: 55%;
}

.mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 0%, 0.6);
}

.mr-custom{
  margin-right: 15%;
}

.ml-custom{
  margin-left: 30%;
}

.primera{
  position: relative;
  left: 17%;
}








